# Node modules
frontend/node_modules/
frontend/dist/
.env

# Python environments and caches
backend/venv/
backend/__pycache__/
*.pyc

# Heavy Data Files (Do not push massive NetCDF files to GitHub!)
backend/data/*.nc
*.nc

# Mac System Files
.DS_Store
